fastapi
uvicorn[standard]

# System info
psutil

# Docker socket access
docker

# Database
sqlalchemy

# Cron human readable
cron-descriptor

# Multipart (future upload / auth)
python-multipart

requests-unixsocket